*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#header{
    background: #ccc;
    height: 26px;
    width: 100%;
    font-size: 13px;
    color: #999;
    line-height: 26px;;
}
#header a{
    color: #999;
}
#header a:hover{
    color: #f00;
}

#nav-left li{
    float: left;
    margin-left: 20px;
}

#nav-right li{
    float: right;
    padding: 0 14px;
}
.jiao::after{
    content: '';
    width: 0;
    border: solid 4px;
    border-color:  #999  transparent transparent transparent;
    position: absolute;
    top: 11px;
    right: 5px;

}
.menu{
    position: relative;
} 
.xian{
    border: 1px solid #fff;
    border-top: none;
}
#nav-right .icon-gouwuchekong{
    font-size: 14px;
    color: #f00;
}
#nav-right .icon-tel{
    font-size: 14px;
}
#nav-right .icon-iconfl{
    font-size:14px;
}